@model SmartMeterConsumerManagement.Models.DBContext.UserRequest
@{
    ViewBag.Title = "UserRequest";
}

<h2>User Request Portal</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*ViewBag.RequestTypes is holding all the request type values*@
            @Html.DropDownListFor(model => model.Type, ViewBag.RequestTypes as SelectList, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Apply" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@if (@ViewData["RequestRaised"] != null)
{
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    @if ((bool)ViewData["RequestRaised"])
    {
        <script type="text/javascript">
            alert("Your request has been successfully raised.");
        </script>
    }
    else
    {
        <script type="text/javascript">
            alert("@ViewData["FailureMessage"]");
        </script>
    }
    <script type="text/javascript">
        window.location = '/Home/Index';
    </script>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}